src/main/mule/myfirstgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="12bae548-4bfc-4df7-9a70-3e2a4384a167" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="17730408" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="6b426666-c195-4e74-aaa8-359dcfc5b051" flowRef="myfirstgitFlow" />
	<flow name="myfirstgitFlow" doc:id="a57b6c67-1824-463e-8ab5-477ab42d2dbc" >
		<http:listener doc:name="Listener" doc:id="a934a44c-4d7c-4ab9-84dc-45d5b8fcc71e" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Hello WOrld"]' doc:name="Set Payload" doc:id="53cba79d-948b-4f6d-97d9-ddc2bbcda061" />
	</flow>
</mule>
